@using System.Security.Claims

<div class="starter-template">
   @* <h1>Welcome @User.FindFirst(ClaimTypes.GivenName).Value, @User.FindFirst(ClaimTypes.Surname).Value!</h1>*@
    <p class="lead">Here are your claims</p>
    <ul>
        @foreach (var claim in User.Claims)
        {
            <li>
                <em>@claim.Type</em> : @claim.Value - @claim.ValueType - @claim.Issuer
            </li>
        }
    </ul>
    <button disabled class="btn disabled" id="callApiBtn">Call Api</button>
</div>
<script src="~/js/oidc-client.min.js"></script>
<script>

    var user;
    var userMgrSettings = {
        authority: "https://localhost:44363/",
        client_id: "AuthWeb_JS",
        response_type: "id_token token",
        scope: "openid profile DemoApi",
        silent_redirect_uri: "https://localhost:44391/SilentSignInCallback.html"
    };

    var btn = document.getElementById("callApiBtn");
    btn.onclick = function () {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/user");
        xhr.setRequestHeader("Authorization", "Bearer " + user.access_token);
        xhr.onload = function () {
            if (xhr.status === 200) {
                var apiUser = JSON.parse(xhr.responseText);
                alert("Called the API as the user - id:" + apiUser.id + " name:" + apiUser.name);

            } else {
                alert("Something went wrong. Status code:" + xhr.status);

            }

        };
        xhr.send();
    };

    var userManager = new Oidc.UserManager(userMgrSettings);
    userManager.signinSilent().then(function (x) {
        user = x;
        btn.disabled = false;
        btn.class = "btn";
    });
</script>
